.theming {
  position: fixed;
  right: 10px;
  bottom: 10px;

  button:not(:first-child) {
    margin-left: 10px;
  }

  button {
    height: 40px;
    border-radius: 20px;
    padding-left: 15px;
    padding-right: 15px;
    border: 0;

    &:hover {
      cursor: pointer;
    }

    &.light {
      background-color: #fff;
      color: #000;
    }

    &.dark {
      background-color: #000;
      color: #fff;
    }
  }
}